.app-wrapper {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 16px;

  .container-wrapper,
  .cards-wrapper {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  .container-wrapper {
    flex-direction: column;
  }
}
