.sidebar-wrapper {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  background-color: #165c7d;

  * {
    margin: 0;
    padding: 0;
  }

  .logo-wrapper {
    width: 100px;
    height: 100px;
    background-image: url("../../../assets/images/logo.svg");
    background-position: center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
  }

  .menu-wrapper,
  .menu-collapse-wrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
        color: #fff;
      }
    }
  }

  .menu-collapse-wrapper {
    li {
      mat-icon {
        color: #739db1;
      }
    }
  }

  .menu-wrapper {
    flex: 1;
  }
}
