<nav class="sidebar-wrapper">
  <div class="logo-wrapper"></div>

  <ul class="menu-collapse-wrapper">
    <li>
      <mat-icon>menu</mat-icon>
    </li>
  </ul>

  <ul class="menu-wrapper">
    <li>
      <mat-icon>search</mat-icon>
    </li>
    <li>
      <mat-icon>star_border</mat-icon>
    </li>
    <li>
      <mat-icon class="material-icons-outlined">chat</mat-icon>
    </li>
    <li>
      <mat-icon>tune</mat-icon>
    </li>
    <li>
      <mat-icon class="material-icons-outlined">account_balance</mat-icon>
    </li>
  </ul>
</nav>
