.header-wrapper {
  background-color: #fff;
  padding: 16px;

  display: flex;
  justify-content: space-between;

  * {
    margin: 0;
    padding: 0;
  }

  .titulo-wrapper {
    h1 {
      font-family: "Exo";
      font-weight: 700;
      text-transform: uppercase;
      font-size: 24px;
      color: #101213;
    }

    p {
      font-size: 12px;
      color: #787878;
    }
  }

  .acoes-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;

    * {
      margin: 0;
      padding: 0;
    }

    .notificacoes-wrapper {
      width: 100%;

      mat-icon {
        color: #125d79;
        font-size: 32px;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }

    .buttons-wrapper {
      button {
        padding: 8px 32px;
        border-radius: 32px;
        border: 1px solid #125d79;
        background-color: transparent;
        text-transform: uppercase;
        color: #125d79;
        font-weight: 700;
        cursor: pointer;
      }
    }

    .profile-wrapper {
      position: relative;

      .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        border: 1px solid #125d79;
      }

      .btn-cog {
        position: absolute;
        color: #125d79;
        bottom: -5px;
        right: -7.5px;
        cursor: pointer;
      }
    }
  }
}
