<div class="header-wrapper">
  <div class="titulo-wrapper">
    <h1>Nova admissão cooperado</h1>
    <p>Cadastro/Admissão do Cooperado/Nova Admissão de Cooperado</p>
  </div>

  <div class="acoes-wrapper">
    <div class="notificacoes-wrapper">
      <mat-icon
        matBadge="7"
        matBadgeColor="warn"
        class="material-icons-outlined"
        >notifications</mat-icon
      >
    </div>
    <div class="buttons-wrapper">
      <button>Viacredi</button>
    </div>
    <div class="profile-wrapper">
      <div class="profile-picture"></div>
      <mat-icon class="btn-cog">settings</mat-icon>
    </div>
  </div>
</div>
